@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";

body{
    background: #78c9ff;
    overflow: hidden;
}
body.bg-sky{
    background: url("/bg.jpeg");
    background-size: 100vw 100vh;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}