@import "tailwindcss";
@import "@nuxt/ui";

html {
    overflow: hidden;
    margin: 0;
    user-select: none;
}

body.bg-sky {
    background-image: url('/bg.jpeg');
    background-size: 100% 100%;
}

body {
    background: #78c9ff;
    margin: 0;
    font-family: SimSun, serif;
}